In [2]:
import pandas as pd

In [3]:
amazon_ranks = pd.read_csv('amazon_bs_20102020.csv')

In [4]:
amazon_ranks.shape

(1094, 7)

In [5]:
amazon_ranks.head()

,Year,Rank,Book_Title,Author,Rating,Num_Customers_Rated,Price
0,2010,1,The Girl Who Kicked the Hornet's Nest (Millenn...,Stieg Larsson,4.7,8475,17.24
1,2010,2,The Girl with the Dragon Tattoo (Millennium Se...,Stieg Larsson,4.4,11516,9.99
2,2010,3,Decision Points,George W. Bush,4.6,2201,17.80
3,2010,4,The Help,Kathryn Stockett,4.8,14772,14.97
4,2010,5,The Girl Who Played with Fire (Millennium Series),Stieg Larsson,4.7,7949,0.02

In [6]:
amazon_ranks['Year'].value_counts()

2020    100
2019    100
2018    100
2015    100
2014    100
2013    100
2010    100
2017     99
2012     99
2011     99
2016     97
Name: Year, dtype: int64