In [1]:
import pandas as pd
import csv

In [10]:
# Read in Kaggle top 100 ranked Amazon books by year
amazon_ranks = pd.read_csv('../../amazon_bs_20102020.csv')

In [11]:
amazon_ranks.head()

,Year,Rank,Book_Title,Author,Rating,Num_Customers_Rated,Price
0,2010,1,The Girl Who Kicked the Hornet's Nest (Millenn...,Stieg Larsson,4.7,8475,17.24
1,2010,2,The Girl with the Dragon Tattoo (Millennium Se...,Stieg Larsson,4.4,11516,9.99
2,2010,3,Decision Points,George W. Bush,4.6,2201,17.80
3,2010,4,The Help,Kathryn Stockett,4.8,14772,14.97
4,2010,5,The Girl Who Played with Fire (Millennium Series),Stieg Larsson,4.7,7949,0.02

In [12]:
amazon_ranks['Year'].value_counts()

2020    100
2019    100
2018    100
2015    100
2014    100
2013    100
2010    100
2017     99
2012     99
2011     99
2016     97
Name: Year, dtype: int64

In [13]:
first30 = pd.read_csv('first30_reviews.tsv', sep='\t', quoting=csv.QUOTE_NONE)

In [14]:
first30.shape

(34194, 61)

In [15]:
first30.columns

Index(['Title', 'Date_1', 'Review_1', 'Date_2', 'Review_2', 'Date_3',
       'Review_3', 'Date_4', 'Review_4', 'Date_5', 'Review_5', 'Date_6',
       'Review_6', 'Date_7', 'Review_7', 'Date_8', 'Review_8', 'Date_9',
       'Review_9', 'Date_10', 'Review_10', 'Date_11', 'Review_11', 'Date_12',
       'Review_12', 'Date_13', 'Review_13', 'Date_14', 'Review_14', 'Date_15',
       'Review_15', 'Date_16', 'Review_16', 'Date_17', 'Review_17', 'Date_18',
       'Review_18', 'Date_19', 'Review_19', 'Date_20', 'Review_20', 'Date_21',
       'Review_21', 'Date_22', 'Review_22', 'Date_23', 'Review_23', 'Date_24',
       'Review_24', 'Date_25', 'Review_25', 'Date_26', 'Review_26', 'Date_27',
       'Review_27', 'Date_28', 'Review_28', 'Date_29', 'Review_29', 'Date_30',
       'Review_30'],
      dtype='object')

In [16]:
az_ranks = amazon_ranks[['Book_Title', 'Year', 'Rank']]

In [17]:
df = first30.merge(az_ranks, how='left', left_on='Title', right_on='Book_Title')

In [20]:
df['Rank'].unique()

array([ nan,  56.,  47.,  95.,  93.,  19.,  84.,  89.,  94.,  17.,  53.,
        40.,  13.,  34.,  97.,  91.,  73.,  96.,  11.,  20.,  35.,  29.,
        76.,  38.,  10.,  28.,  41.,   8.,  55.,  49.,  25.,  62.,  45.,
        39.,  99.,  68.,  59.,  48.,  31.,   3.,  92.,  36.,  90.,   7.,
        79.,  61.,  58.,  78.,  52.,  66.,  87.,  23.,  42.,  64.,  22.,
        70.,  15.,  65.,  33.,  69.,  81.,  12.,  74.,   5.,  75.,  85.,
        57.,  86.,  80.,  51.,  71.,   2.,  83.,   6.,  72.,   1.,  67.,
        32.,   9.,  63.,  88.,  46.,  30.,  60., 100.,  24.,  98.,  26.,
        18.,  16.,  44.,  27.,  43.,  82.,  21.,  77.,  37.,   4.,  14.,
        50.,  54.])

In [21]:
df[df['Rank'] == 1].head()

,Title,Date_1,Review_1,Date_2,Review_2,Date_3,Review_3,Date_4,Review_4,Date_5,...,Review_27,Date_28,Review_28,Date_29,Review_29,Date_30,Review_30,Book_Title,Year,Rank
8928,Fifty Shades of Grey: Book One of the Fifty Sh...,2012-05-04,E L James is weaving her magic with the trilog...,2012-05-04,"Where to begin......Lets start with \\""in love...",2012-05-04,"I devoured this book, and then downloaded the ...",2012-05-04,This book was really rather stupid.<br />I had...,2012-05-04,...,How can anyone not LOVE Christian Grey. I'm no...,2012-05-03,"Never, ever completed a book until I completed...",2012-05-03,This book was wonderful! I loved it! Could not...,2012-05-03,Magnificent and can't wait for the movies to b...,Fifty Shades of Grey: Book One of the Fifty Sh...,2012.0,1.0
9050,First 100 Words,2012-12-21,I bought this book originally because my 2 yea...,2012-12-20,I have a 2 year old who is slow to speak so ha...,2012-12-18,it is my grand daughter's first book and she l...,2012-12-16,Got this about 12 months and at 16 months my d...,2012-12-15,...,This book along with 'First 100 Animals' are m...,2012-06-16,I got this when my son was several months old....,2012-06-06,This book is adorable. It is a small padded bo...,2012-06-03,My daughter received this book for her 2nd bir...,First 100 Words,2015.0,1.0
22795,StrengthsFinder 2.0,2012-09-16,"After a quick online quiz, you get your top 5 ...",2012-09-14,I have used this over and over again for leade...,2012-09-06,Sir Ken Robinson tells a story in his famous T...,2012-09-04,I was actually told by several people in big n...,2012-08-30,...,Maybe it is my fault (this book was a suggeste...,2012-05-19,This item met my expectations based on the des...,2012-05-12,I have three years' experience with Strengths ...,2012-05-03,"As mentioned by others here, this book is nigh...",StrengthsFinder 2.0,2013.0,1.0
22796,StrengthsFinder 2.0,2012-09-16,"After a quick online quiz, you get your top 5 ...",2012-09-14,I have used this over and over again for leade...,2012-09-06,Sir Ken Robinson tells a story in his famous T...,2012-09-04,I was actually told by several people in big n...,2012-08-30,...,Maybe it is my fault (this book was a suggeste...,2012-05-19,This item met my expectations based on the des...,2012-05-12,I have three years' experience with Strengths ...,2012-05-03,"As mentioned by others here, this book is nigh...",StrengthsFinder 2.0,2014.0,1.0
26488,The Girl Who Kicked the Hornet's Nest (Millenn...,2013-02-20,I was sad when I was done reading this trilogy...,2013-02-15,I have read all the books. This was a great en...,2013-02-13,Terrific product. Shipped very quickly. Was ex...,2013-02-11,This is a great story I have reread many parts...,2013-02-07,...,This is exactly what I was looking for at the ...,2012-11-27,Best 3 books I have read in fiction. This was...,2012-11-27,"if your looking for any audio book, i employ y...",2012-09-28,The Book is great and arrived fast and in perf...,The Girl Who Kicked the Hornet's Nest (Millenn...,2010.0,1.0