In [6]:
import pandas as pd
import csv

In [10]:
amazon_ranks = pd.read_csv('amazon_bs_20102020.csv')

In [11]:
amazon_ranks.shape

(1094, 7)

In [12]:
amazon_ranks.head()

,Year,Rank,Book_Title,Author,Rating,Num_Customers_Rated,Price
0,2010,1,The Girl Who Kicked the Hornet's Nest (Millenn...,Stieg Larsson,4.7,8475,17.24
1,2010,2,The Girl with the Dragon Tattoo (Millennium Se...,Stieg Larsson,4.4,11516,9.99
2,2010,3,Decision Points,George W. Bush,4.6,2201,17.80
3,2010,4,The Help,Kathryn Stockett,4.8,14772,14.97
4,2010,5,The Girl Who Played with Fire (Millennium Series),Stieg Larsson,4.7,7949,0.02

In [13]:
amazon_ranks['Year'].value_counts()

2020    100
2019    100
2018    100
2015    100
2014    100
2013    100
2010    100
2017     99
2012     99
2011     99
2016     97
Name: Year, dtype: int64

In [14]:
third_pass = pd.read_csv('3rdpass_cleaned.tsv', sep='\t', quoting=csv.QUOTE_NONE)

In [15]:
third_pass.shape

(2668988, 5)

In [16]:
third_pass.head()

,Title,Star_Rating,Total_Votes,Review_Body,Review_Date
0,The Book of Life (All Souls),5,0,Love Deborah Harness's Trilogy! Didn't want t...,2015-08-31
1,CompTIA A+ Certification All-in-One Exam Guide...,5,0,Bought this book for my boyfriend. He said it ...,2015-08-31
2,The Encyclopedia of Infant and Toddlers Activi...,5,0,Excellent resource.,2015-08-31
3,Pearson Reviews & Rationales: Medical-Surgical...,5,0,This was very helpful for my Med-Surg class! I...,2015-08-31
4,Forming Intentional Disciples: The Path to Kno...,5,0,This book inspired me not to nly looke at my o...,2015-08-31

In [18]:
# not quite the right merge. years matter
# Also we only really want to look at the first say 30 reviews on a book that makes the top 100
# because we want to try to decide based on the EARLY reviews if it will make the top 100 (end goal)
book_merged = third_pass.merge(amazon_ranks, how='left', left_on='Title', right_on='Book_Title')

In [21]:
book_merged.head()

,Title,Star_Rating,Total_Votes,Review_Body,Review_Date,Year,Rank,Book_Title,Author,Rating,Num_Customers_Rated,Price
0,The Book of Life (All Souls),5,0,Love Deborah Harness's Trilogy! Didn't want t...,2015-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CompTIA A+ Certification All-in-One Exam Guide...,5,0,Bought this book for my boyfriend. He said it ...,2015-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,The Encyclopedia of Infant and Toddlers Activi...,5,0,Excellent resource.,2015-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Pearson Reviews & Rationales: Medical-Surgical...,5,0,This was very helpful for my Med-Surg class! I...,2015-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Forming Intentional Disciples: The Path to Kno...,5,0,This book inspired me not to nly looke at my o...,2015-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN